@using BikeManagementSystemLib.Models

@{
    ViewData["Title"] = "Return bike";
    Bike bike = (Bike)ViewData["bike"];
    RentedBikeKey id = (RentedBikeKey)ViewData["key"];
}

<h1>Return bike</h1>

<dl class="row"> 
    <dt class="col-sm-2"> 
        ID: 
    </dt> 
    <dd class="col-sm-10"> 
        @bike.Id
    </dd> 
    <dt class="col-sm-2"> 
        Model: 
    </dt> 
    <dd class="col-sm-10"> 
        @bike.Model 
    </dd> 
    <dt class="col-sm-2"> 
        Vendor: 
    </dt> 
    <dd class="col-sm-10"> 
        @bike.Vendor.Name 
    </dd> 
    <dt class="col-sm-2"> 
        Type: 
    </dt> 
    <dd class="col-sm-10"> 
        @bike.Type.Name 
    </dd> 
</dl> 

<div class="row">
    <form asp-controller="Rentals" asp-action="ReturnBike" 
        asp-route-rentalID="@id.RentalId" asp-route-bikeID="@id.BikeId" method="post">
        <div class="form-group">
            <label for="returnStatusDescription" class="control-label">Bike return status (leave blank if fine):</label>
            <textarea id="returnStatusDescription" name="returnStatusDescription" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Return" class="btn btn-primary" />
            <a href="/Rentals/@id.RentalId/Open" class="btn btn-primary">Cancel</a>
        </div>
    </form>
</div>